

.h_banner{
	background-color: #fff;
	background-image: url(../img/show4.png);
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 25px;
	padding-bottom: 20.315789%;
	border-radius: 0px;
}

.maininfo{

	width: 100%;
	background-color: #FFF;
}


.row{
	background-color: #FFF;}

.maps{
	width:80%;
	background-color: #88dfd6;
	padding: 15px;
	border-radius: 10px;
}

@media (max-width: 992px){
	.h_banner{
		min-height: 380px;
    margin-top: 35px;
	}
}

@media (max-width: 767px){

	.h_banner{
		height: 125px;

	}
	.maininfo{
	margin: 0px;
	}

	.maps{
		width:100%;

	}
	h3,h4,p{
		margin:15px;
	}

}
.hl{
	color: #3c763d;
}
