

.h_banner{
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 0;
	border-radius: 0px;
  margin-top: 5px;
}
.h_banner.show1{
  background-image: url(../img/show1.png);
}
.h_banner.show2{
  background-image: url(../img/show2.png);
}
.h_banner.show3{
  background-image: url(../img/show3.png);
}
.h_banner.show4{
  background-image: url(../img/show4.png);
}
.h_banner.show5{
  background-image: url(../img/show5.png);
}

.maininfo{
	width: 110%;
	background-color: #FFF;
}


.row{
	background-color: #FFF;}

.maps{
	width:80%;
	background-color: #88dfd6;
	padding: 15px;
	border-radius: 10px;
}
.special{
	color: #b81c22;
}
.list{
	margin-left: -40px;
	margin-bottom: 25px;
}
.list li{
  margin-bottom: 8px;
	list-style-type: none;
}

.list li:nth-child(even){
	color: #f1794a;
}

@media (max-width: 992px){
	.h_banner{
		min-height: 380px;
    margin-top: 35px;
	}
}


@media (max-width: 767px){

	.h_banner{
		min-height: 480px;
		margin-top: 0;
	}
	.maininfo{
	margin: 0px;
	}

	.maps{
		width:100%;

	}
	h3,h4,p{
		margin:5px;
    line-height: 1.3;
	}

}

@media (max-width: 680px){
	.h_banner{
		min-height: 300px;
		margin-top: 25px;
	}
}

@media (max-width: 480px){
	.h_banner{
		min-height: 205px;
		margin: 10px 0 0 ;

	}
	.list{
    margin-left: -20px;
	}
	.special{
		margin-left: 20px;
		display: block;;
	}
}
