@font-face {
    font-family: 'Noto Sans TC', sans-serif;
    src: url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
		font-weight: 900;
}

@font-face {
    font-family: 'cwTeXYen', sans-serif;
    src: url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
		font-weight: 900;
}

::selection{
	background: #e49f54;
	color: #fff;
}

body{
margin-top: 50px;
font-family: 'Noto Sans TC', sans-serif,"xingothic-tc-w4","XinGothic-TC W4","LantingHei TC","Apple LiGothic","Microsoft JhengHei";
letter-spacing: 0.1rem;
}

img{
	max-width: 100%;
}


/*NAV*/
.navbar-default{
	border: none;
	padding: 5px 0;
}
.navbar-default .navbar-brand{
	color: #b81c22;
	transition: all 0.3s;
  letter-spacing: 0.1rem;
	padding: 0;
}

.navbar-default .navbar-nav>li>a{
	color: #b81c22;
	transition: all 0.3s;
  letter-spacing: 0.2rem;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #134350;
}
.navbar-brand>img{
	width: 50px;
}
/*Mb-NAV*/
.navbar-default .navbar-toggle{
	border-color: #b81c22;
	transition: all 0.3s;
}
.navbar-default .navbar-toggle .icon-bar,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: #b81c22;
}
.navbar-default .navbar-toggle:hover span,.navbar-default .navbar-toggle:focus span{
	background-color: #ffffff;
}
.navbar-default .navbar-collapse{
	min-height: 80px;
	padding: 50px 0 3px;
}


.Toptitle{
	font-size: 24px;
	font-family: 'cwTeXYen', serif;
	color: #fff;
	margin-bottom: 35px;
	letter-spacing: 0.2rem;
}


.xmcontainer{
	padding-left: 50px;
	padding-right:50px;
}
.home_banner{
	background-color: #fff;
	background-image: url(../img/banner.jpg);
	background-size: cover;
    background-position: 0px 58%;
    background-repeat: no-repeat;
    min-height: 350px;
	margin: 25px 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;

}
.link_1,.link_2,.link_3,.link_4,.link_5{
	display: block;
	background-color: transparent;
}

.linkinfo{
	width:100%;
	padding-bottom: 10px;
}
.linkinfo .hl{
	margin-top: 0;
	margin-left: 10px;
}

/*btns*/
.btn-warning{
	background-color: #3c763d;
	border: none;
}

.morebtn{
	text-align: center;
}
.morebtn a{
	width: 100%;
  border-bottom: 3px solid  #1e581f;
	transition: all 0.3s;
}
.btn-warning:hover{
	background-color: #d75827;
	border-color: #bb4c21;
}
.btn-warning:active,.btn-warning:active:focus{
	background-color: #d75827;
  border-color: #d75827;
}
.morebtn a:active{
	color: #fff;
}

.linkinfo .infointro{
	min-height: 135px;
}

.linkinfo h3,.linkinfo h4,.linkinfo p,.morebtn{
	margin: 10px;
	color: #3c763d;
  text-align: justify;
}

.link_1 .linkinfo,.link_3 .linkinfo,.link_5 .linkinfo{
	background-color: #fff5e0;

}
.link_4 .linkinfo,.link_2 .linkinfo{
	background-color: #ffffff;
}
.pagetitle{
  color: #3c763d;
  letter-spacing: 0.2rem;
}
.pagetitle > .subtitle{
  display: block;
margin-top: 10px;
font-size: 1.8rem;
color: #96c184;
line-height: 1.3;
}

.hl{
	color: #3c763d;
	font-weight: bolder;
  font-size: 1.7rem;
  border-left: 6px solid #3c763d;
  padding-left: 10px;
  margin: 40px 0px 20px;
  display: block;
}
.hl > h3{
	color: #3c763d;
	letter-spacing: 0.2rem;
	line-height: 1.3;
}

.linkimg{
	width: 100%;
}

.movie{
	background-color: #e9e5e6;
    padding: 0px;
    padding-bottom: 56.25%;
	margin-bottom: 20px;
	width: 100%;
    position: relative;
}

.tubeframe{
	height: 550px;
    width: 100%;
    margin-top: 0px;
}

.navbar-brand>img{
	width: 50px;
  margin-left: 5px;
}


.gotorch{
  width: 90px;
  display: block;
  margin: 0 auto 10px;
}

.tourch-icons{
  text-align: center;
  margin: 30px 0 20px;
  padding: 0;
}

.tourch-icons li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
.tourch-icons li:last-child{
  margin-right: 0;
}
.tourch-icons li a{
  display: inline-block;
  color: #fff;
  font-size: 2.2rem;
}
.copyright {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 100;
}

@media (max-width: 767px){
	body{
		margin-top: 50px;
	}
#navbar{
	    margin-top: 8px;
}

	.h_banner{
		/*background-image: url(../img/2015-xmas-web-OL_banner-640x125.png);*/
	padding-bottom: 20.315789%;
	min-height: 350px;
	border-radius: 0px;
  background-size:contain;
	}


	 .infointro,.linkinfo,.morebtn{
	 	display: none;
	 	padding: 0px;
	 }
	 .link_1,.link_2,.link_3,.link_4,.link_5{
		display: block;
		padding: 0px;
        margin-top: 5px;
	}
	.movie{
		margin-bottom: 0px;
	}

	.phones{
		padding: 0px;
	}

    #navbar{
        float: left;
				width: 150%;
    }

}
@media (min-width: 320px) {
	.navbar-default .navbar-collapse{
		padding: 0px 0 3px;
	}
	.navbar-nav{
		margin: 5px 0 0;
	}

}

@media (min-width: 768px){
	body{
	margin-top: 75px;
	}
  .navbar-brand{
    width: 50px;
    display: inline-block;;
  }
	.nav>li>a{
		padding: 10px 8px;
	}

	/*.navbar-nav{
		margin-top: 55px;
	}*/
	.navbar-brand>img{
		width: 50px;
		position: absolute;
		left: 50%;
		top: 5px;
    margin-left: -30px;

	}
	.navbar-default .navbar-collapse{
		padding: 0 0 0;
	}

}

@media (min-width: 1024px){
  .linkinfo h3{
    letter-spacing: 0;
    font-size: 2.0rem;
  }
	.navbar-nav{
		margin-top: 10px;
	}
	.container>.navbar-header{
    margin-right: 85px;
	}
	.navbar-brand>img{
		position: relative;
	}
	.navbar-default .navbar-collapse{
    padding: 0px 0 3px;
    min-height: 58px;
	}
}



footer{
	background-color: #e9e5e6;
	}
footer .fbanner{
	background-color: #e9e5e6;
	background-image: url(../img/2015-xmas-web_banner-950x250.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 23.315789%;
}


@media (max-width: 1024px){
	.home_banner{
    background-position: 0px 0px;
    min-height: 500px;
	}
  .copyright {
    margin-top: 10px;
  }

}
@media (max-width: 992px){
	.home_banner{
		min-height: 400px;
    background-position: 0px 0px;
	}
	.tubeframe {
    height: 500px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -10px;
	}
}
@media (max-width: 480px){
	.tubeframe{
		height: 245px;
	}
	.Toptitle{
		font-size: 20px;
		margin-bottom: 20px;
		margin-top: 10px;
	}

	.Toptitle span{
		display: block;
	}
	.home_banner{
	min-height: 190px;
    background-position: 0px 0px;
    margin: 0px 0 10px;
	}



}

@media (max-width: 320px){
.navbar-default .navbar-collapse{
  padding-top: 0;

}

#navbar {
    float: left;
    width: 150%;
    overflow-x: hidden;
  }
	.home_banner{
	min-height: 140px;
    background-position: 0px -8px;
    margin: 30px 0 10px;
	}

	.tubeframe{
		margin-top: 0px;
	    height: 200px;
	}
	.pagetitle{
    margin: 20px 0;
	}


}
