/*@import url(http://fonts.googleapis.com/earlyaccess/notosansgurmukhiui.css);*/

body{
margin-top: 50px;
}
/*NAV*/
.navbar-default{
	border: none;
}
.navbar-default .navbar-brand{
	color: #b81c22;
	transition: all 0.3s;
}
.navbar-default .navbar-nav>li>a{
	color: #b81c22;
	transition: all 0.3s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #134350;
}

.xmcontainer{
	padding-left: 50px;
	padding-right:50px;
}
.h_banner{
	background-color: #e9e5e6;
	background-image: url(../img/home.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 700px;
	margin: 25px 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;

}
.link_1,.link_2,.link_3,.link_4,.link_5{
	display: block;
	background-color: transparent;
	margin-bottom: 20px;
}

.linkinfo{
	width:100%;
	padding-bottom: 10px;
}
/*btns*/
.btn-warning{
	background-color: #d75827;
	border: none
}
.btn-warning:hover{
	background-color: #c1c4ac;
	border-color: #909284;
}
.morebtn{
	text-align: center;
}
.morebtn a{
	width: 100%;
  border-bottom: 3px solid #bf4313;
	transition: all 0.3s;
}
.morebtn a:active{
	border-width: 1px;
	color: red;
}

.linkinfo .infointro{
	min-height: 135px;
}

.linkinfo h3,.linkinfo h4,.linkinfo p,.morebtn{
	margin: 10px;
	color: #3c763d;
  text-align: justify;
}
.link_1 .linkinfo,.link_3 .linkinfo,.link_5 .linkinfo{
	background-color: #fff5e0;

}
.link_4 .linkinfo,.link_2 .linkinfo{
	background-color: #ffffff;
}

.hl{
	color: #3c763d;
	font-weight: bolder;
}
.hl > h3{
	color: #3c763d;
	letter-spacing: 0.2rem;
}

.linkimg{
	width: 100%;
}


.movie{
	background-color: #e9e5e6;
    padding: 0px;
    padding-bottom: 56.25%;
	margin-bottom: 20px;
	width: 100%;
    position: relative;
}

.tubeframe{
	height: 100%;
    width: 100%;
    position: absolute;
}

@media (max-width: 767px){
	body{
		margin-top: 50px;
	}
	.h_banner{

		/*background-image: url(../img/2015-xmas-web-OL_banner-640x125.png);*/
	padding-bottom: 20.315789%;
	min-height: 300px;
        background-size:contain;
	}
	 .infointro,.linkinfo,.morebtn{
	 	display: none;
	 	padding: 0px;
	 }
	 .link_1,.link_2,.link_3,.link_4,.link_5{
		display: block;
		padding: 0px;
        margin-top: 5px;
	}
	.movie{
		margin-bottom: 0px;
	}

	.phones{
		padding: 0px;
	}

    #navbar{
        float: left;
    }

}



@media (min-width: 768px){
	body{
	margin-top: 75px;
	}

	.link_3 .linkinfo{
		background-color: #ffffff;

	}
	.link_4 .linkinfo{
		background-color: #89e0d7;

	}


}

@media (min-width: 992px){
	body{
	margin-top: 50px;

	}
	.link_3 .linkinfo{
		background-color: #fff5e0;

	}
	.link_4 .linkinfo{
		background-color: #ffffff;

	}
}

footer{
	background-color: #e9e5e6;
	}
footer .fbanner{
	background-color: #e9e5e6;
	background-image: url(../img/2015-xmas-web_banner-950x250.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 23.315789%;
}

.copyright {
    text-align: center;
    background: none;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 100;
}
